#page {
    display: grid;
    width: 1200px;
    height: 100%;
    margin: 20px auto auto;
    grid-template-areas: "head head"
                       "main  nav"
                       "foot  foot";
    grid-template-rows: 60px 400px 100px;
    grid-template-columns: 60% 1% 25%;
    background-color: #e4e7f8;
    padding: 10px;
    border: none;

}

#page > header {
    grid-area: head;
    background-color: #e4e7f8;
    font-size: 3.5em;
    font-weight: normal;
    padding-left: 35px;
    color: #0A3871;
    width: 60%;
    border: none;


}


#page > article {
    grid-area: nav;
    background: #FFFFFF;
    background-size: 70%;
    border-radius: 32px;
    width: 400px;
    height: 420px;
    padding: 40px 40px 40px 0;
    margin-right: 40px;
    border: none;
    text-align: center;


}

#page article:empty {
    background: url("Muñeco.png") 30% 5% no-repeat, url("mensaje.png") 50% 75%  no-repeat, url("Rectangle.png");
}

#page article:empty button {
    opacity: 50%;
}

#page > main {
    grid-area: main;

}

body main label {
    border: none;
}


body textarea {
    border: none;
    width: 80%;
    height: 350px;
    text-justify: auto;
    text-align: center;
    font-size: 32px;
    font-family: Inter, serif;
    font-style: normal;
    line-height: 150%;
    color: #0A3871;
    background-color: #e4e7f8;
    background-image: url("Ingrese el texto aqui.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;


}

body textarea:focus {
    background-image: none;

}

#page > footer {
    grid-area: foot;
    background-color: #e4e7f8;
    width: 90%;
}
.botones {
    width: 1200px;
    height: 150px;
    left: 240px;
    margin-left: 10px;
    border: none;
    background: none;


}

body button {
    border-radius: 24px;
    background: #0A3871;
    width: 228px;
    height: 67px;
    color: #FFFFFF;
    font-size: 1em;
    margin-left: 10px;
}

#boton_desencriptar, #boton_copiar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
    margin-left: 148px;


}

#boton_desencriptar:active, #boton_copiar:active, #boton_encriptar:active {
    box-shadow: 2px 2px 5px #0A3871;
}

#boton_copiar {
    margin-left: 17%;
}




